<div class='picture-wrapper'>
  <div class='container'>
    <div class='top-inner-text'>
      <div class='site-introduction'>
        <h1 class='picture-headding'>
          寝顔画像を登録しましょう！<br>
        </h1>
        <div class='picture-message'>
          朝活失敗時、設定した画像が自動ツイートされます。<br>
          サンプル画像のように寝顔を撮ってみましょう！<br>
          デフォルトでは僕の寝顔が設定されています。<br>
          また、マイページより画像の変更が可能です。<br>
        </div>
      </div>
      <div>
        サンプル画像
      </div>
      <ul class='pictures-example'>
        <li class='picture-example'><%= image_tag 'picture.jpg', size: '200x200' %></li>
        <li class='picture-example'><%= image_tag 'picture2.jpg', size: '200x200' %></li>
        <li class='picture-example'><%= image_tag 'picture3.jpg', size: '200x200' %></li>
        <li class='picture-example'><%= image_tag 'picture4.jpg', size: '200x200' %></li>
      </ul>
      <%= render 'shared/picture_settings' %>
    </div>
  </div>
</div>
